:root {
  --black: #000000;
  --gray10: #212121;
  --gray20: #424242;
  --gray30: #808080;
  --gray40: #616161;
  --footer-color: #212429;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2 {
  color: var(--gray10);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

h3 {
  background-color: #ffffff;
  color: var(--gray20);
  font-size: 20px;
  font-weight: 400;
}

h4 {
  color: var(--gray40);
  font-size: 14px;
  line-height: 24px;
  margin: 16px 0;
}

hr {
  display: none;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

p {
  color: var(--gray10);
  font-size: 16px;
  line-height: 24px;
}

/* .hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url(../images/patron.png);
  background-size: contain;
  height: 96px;
} */
/* --Aplicando estilos al menu-- */
header {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 328px;
}

header h1 {
  font-size: 32px;
  line-height: 37.5px;
  margin-bottom: 16px;
}

.main-menu {
  margin-bottom: 48px;
}

.sticky-menu {
  margin-bottom: 118px;
}

.main-menu,
.sticky-menu {
  font-size: 14px;
  font-weight: 500;
}

.wrapper-main-menu,
.wrapper-sticky-menu {
  margin: auto;
  width: 328px;
}

.uppercase {
  text-transform: uppercase;
}

.sticky-menu nav h4 {
  margin-left: 16px;
}

.sticky-menu ol {
  padding-left: 30px;
}

.main-menu nav ul {
  padding: 0;
}

.main-menu nav li,
.sticky-menu nav li {
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.main-menu li {
  list-style: none;
}

.main-menu nav .active {
  background-color: var(--black);
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
}

.main-menu nav a,
.sticky-menu nav a {
  color: var(--gray30);
  text-decoration: none;
}

.main-menu nav a:hover,
.sticky-menu nav a:hover {
  color: var(--gray10);
}

.main-menu nav .active a {
  color: white;
}

.content-sticky-menu {
  border-left: 4px solid #c4c4c4;
}

/* ----Main---- */
.wrapper {
  margin: auto;
  width: 328px;
}

hr {
  display: none;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

.main-content {
  background-color: white;
}

.section-content h2 {
  margin: 40px 0 24px 0;
}

.section-content .logo {
  height: 64px;
  width: 64px;
}

.section-content h3 {
  counter-increment: titleList;
  position: sticky;
  top: 0;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

/* .section-content h3::after {
  content: "";
  background: var(--gray10);
  display: inline;
  height: 4px;
  width: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
} */

.section-content p {
  color: var(--gray20);
  font-style: italic;
  margin-bottom: 40px;
  margin-top: 16px;
}

.section-content p span {
  font-weight: bold;
}

pre {
  background-color: #e5e5e5;
  box-sizing: border-box;
  color: var(--gray20);
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
  overflow: auto;
}

blockquote {
  border-left: 4px solid var(--gray10);
  font-size: 24px;
  line-height: 24px;
  margin: 32px 0;
  padding-left: 16px;
}

blockquote p {
  color: var(--gray20);
  line-height: 32px;
}

blockquote span {
  color: var(--gray40);
}

blockquote span::before {
  content: "-";
}

/* ---section-model-box--- */
.section-model-box h2 {
  margin: 40px 0 24px 0;
}

.section-model-box h3 {
  margin: 24px 0 16px 0;
}

.section-model-box p {
  margin-bottom: 16px;
}

.section-model-box ol,
ul {
  line-height: 24px;
  padding-left: 16px;
}

.section-model-box ul li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.section-model-box ul li:last-of-type {
  margin-bottom: 0;
}

/* ---section-slider---- */
.slider-container {
  display: block;
  font-size: 0;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.video {
  aspect-ratio: 16/9;
  display: inline-block;
  height: auto;
  margin: 0;
  width: 100%;
}

.slider-bullet-list {
  margin-top: 16px;
  text-align: center;
}

.slider-bullet {
  background-color: rgba(66, 66, 66, 0.2);
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.slider-bullet:active {
  background-color: red;
}

.section-slider p {
  color: var(--gray20);
}

.section-slider p a {
  color: var(--gray10);
}

/* ---section-form--- */
.section-form h2 {
  margin: 40px 0 16px 0;
}

form {
  position: relative;
}

.section-form input {
  border: 1px solid var(--gray40);
  border-radius: 90px;
  box-sizing: border-box;
  color: var(--gray10);
  font-size: 16px;
  display: block;
  margin-bottom: 16px;
  padding: 12px 16px;
  width: 100%;
}

.section-form input::placeholder {
  color: var(--gray20);
  font-size: 16px;
}

.section-form .button {
  background-color: var(--black);
  border: none;
  border-radius: 90px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 12px 16px;
  position: absolute;
  top: 58%;
  right: 0;
}

.section-form .button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* ---footer--- */
.footer {
  background-color: var(--footer-color);
  height: 174px;
  margin-top: 40px;
}

.footer-container {
  display: block;
  padding-top: 48px;
  text-align: center;
}

.footer-container p {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

.social-icons i {
  color: #ffffff;
  height: 18px;
  margin-right: 22px;
  width: 18px;
}

@media screen and (min-width: 640px and max-width 980px) {
  .main-menu,
  .sticky-menu {
    margin: 55px;
  }
  .main .wrapper {
    width: 500px;
    margin: 0 auto;
  }
}

/* --Desktop-- */
@media screen and (min-width: 980px) {
  /* .hero {
    background-size: auto;
    height: 350px;
    margin-bottom: 64px;
  } */

  header {
    width: 966px;
  }

  header h1 {
    font-size: 60px;
    line-height: 70.31px;
  }

  .sticky-menu {
    margin-top: 112px;
  }

  .wrapper-main-menu,
  .wrapper-sticky-menu {
    margin: auto;
    width: 966px;
  }

  .content-main-menu ul,
  .content-sticky-menu ol {
    color: var(--gray30);
    padding: 0;
  }

  .content-sticky-menu li {
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 16px 30px;
  }

  .content-main-menu a,
  .content-sticky-menu a {
    color: var(--gray30);
    text-decoration: none;
  }

  .content-main-menu a:hover,
  .content-sticky-menu a:hover {
    color: var(--gray10);
    cursor: pointer;
  }

  .content-main-menu .active {
    background-color: var(--black);
    margin-bottom: 8px;
    padding: 8px;
    width: 280px;
  }

  .active a {
    color: #ffffff;
  }

  h2 {
    font-size: 32px;
    line-height: 37px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  hr {
    display: block;
    margin: 64px 0 64px 0;
  }

  .main .wrapper {
    margin: auto;
    width: 966px;
  }

  .section-content .logo {
    height: 80px;
    width: 80px;
  }

  form {
    position: relative;
  }

  .section-form input {
    border: 1px solid var(--gray40);
    border-radius: 90px;
    box-sizing: border-box;
    color: var(--gray10);
    display: inline-block;
    font-size: 16px;
    margin-right: 16px;
    padding: 12px 16px;
    width: 280px;
  }

  .section-form input::placeholder {
    color: var(--gray20);
    font-size: 16px;
  }

  .section-form .button {
    background-color: var(--black);
    border: none;
    border-radius: 90px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 12px 16px;
    position: absolute;
    top: 1px;
    right: 40%;
  }
}
